.borderColor{
    border-top: 1px solid #DC2D08;
	border-right: 1px solid #DC2D08;
	border-bottom: 1px solid #DC2D08;
	border-left: 1px solid #DC2D08;
}

.errorControl{
	/* background-color: #DC2D08; */
	align-content:left;
	border-radius: 3px;
	color: #DC2D08;
	text-align: left;
	-weight: bold;
	margin-top: 2px;
	width: 80%;
}